<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WELCOME ON NET AGORA - Social Network Aggregator | www.netagora.com</title>
<meta name="robots" content="ALL">
<meta name="revisit-after" content="15 days">
<meta name="description" content="Social Network Aggregator">
<meta name="keywords" content="Social Network, Aggregator, Facebook, Twitter">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="layout.css" content="text/css" />
</head>

<header>
	<table bgcolor="black" width="100%" height="80px" align="center" valign="top" style="border-style : 1; border-collapse : collapse; margin-top : none; margin-left : none; margin-right : none; padding:0;">
			<tr bgcolor="black" height="40px" valign="top">
				<td width="350px" valign="top" height="30px">
					<div style="margin-left : 80px"> <img src="image/Net AGORA - logo.jpg" alt="WELCOME on NET AGORA" width="350px" /></div>
				</td>
				<td align="left" height="30px">
					<div style="margin-right : 80px"><table valign="top" height="20px" bgcolor="black" align="right">
						<tr height="10px">
							<td valign="top" align="left">
								<font face="OptimusPrincepsSemiBold" color="EAE9FF">Username </font>
							</td>
							<td valign="top" align="left">
								<font <font face="OptimusPrincepsSemiBold" color="EAE9FF">Password</font>
							</td>
							<td valign="top" align="right">
							</td>
						<tr>
							<td valign="top" align="right">
								<input type="text" name="login">
							</td>
							<td valign="top" align="right">
								<input type="password" name="pass">
							</td>
							<td valign="top" align="right">
								<input type="submit" value="Sign in">	
							</td>
						</tr>
						<tr>
							<td>
								<input type="checkbox" name="remember"><font color="9E9E9E" size="2pt">Remember me</color>
							</td>
							<td>
								<font color="9E9E9E" size="2pt">Forgot your password ?</color>
							</td>
					</table></div>
				</td>
			</tr>
	</table>
</header>

{% block content %}
{% endblock %}
<footer bgcolor="white" style="border-style : 1; border-collapse : collapse; margin-top : none; margin-left : none; margin-right : none; padding:0;">
<table width="100%" height="245px"  bgcolor="white" align="center" valign="top" style="border-style : 1; border-collapse : collapse; margin-top : none; margin-left : none; margin-right : none; padding:0;">
	<tr>
		<td height="10px">
			<hr style="height: 2px; color: #839D2D; background-color: #009CE8; width: 75%; border: none;">
		</td>
	</tr>
	<tr>
		<td align="center" height="10px"><b>© 2012 Net Agora</b><color="009CE8"> - About - Privacy - Terms - Help</color>
		</td>
	</tr>
</table>


</footer>
</html>

