{% extends "netagoraBundle::layout.html.twig" %}

{% block content %}
   <body  >

		<table style= "border: 2px">

			<tr class="body">
				<td class="body">
					<h2> <b> Join Now !! </em></font></h2>
				</td>
				<td class=body> 

							<td class="body">
								<h2>Sign Up </font></h2>
							</td>

						<tr class=body>
							<td  class="form"> Login: </td>
							<td> <input type="text" name="login"></td>
						</tr>
						<tr class=body >
							<td height="10px" valign="top" align="right"> Password: </td>
							<td> <input type="password" name="pwd"></td>
						</tr>
						<tr height="10px" valign="top">
							<td height="10px" valign="top" align="right"> Re-enter Password: </td>
							<td> <input type="password" name="pwd"></td>
						</tr>
						<tr>
							<td valign="top" align="right" colspan="2">
								<input type="submit" value="Login">	
							</td>
						</tr>
					</table>			
				</td> 
			</tr>


			<tr height="150px" valign="top">
				<td >
				</td>
				<td>
				7F1732
	3B0B17
	EAE9FF
	009CE8
	252525
				</td>
			</tr>
	</table>
</body>
{% endblock %}